

<ion-view title="Change Currency">
    <ion-content padding="true" scroll="false" class="has-header">
        <form ng-submit="changeCurrency()">
            <ion-list>
               <span>Select Currency:<span/>
<input type="radio" name="currency" value="INR">INR
<input type="radio" name="currency" value="USD">USD<br>

                
            </ion-list>
<button class="button button-stable button-block button-raised button-balanced" type="submit" ng-click="">Change Currency</button>

           
        </form>
    </ion-content>
</ion-view>




